#makeBorder1{
	width: 350px;
	position: absolute;
	margin: 0;
	top: 230px;
	left: 65px;
}

#makeBorder1 tr, td, th{
	text-align: left;
}

#makeBorder1 th{
	font-size: 22px;
	background-color: #FCE4EC;
}



.images1234{
	color: #D81B60;
}

.images1234>h2{
	position: absolute;;
	margin: 0;
	top: 160px;
	left:730px;
}

#balconyImage{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

#box1{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

#box2{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

#box3{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

#box4{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px;  
	width:50%;
	height:70%;
}

#front{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

#rear{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

#screen{
	position:absolute;
	margin: 0;
	top: 160px;
	left: 450px; 
	width:50%;
	height:70%;
}

.booking1Submit{
	font-size: 15px;
	display: inline-block;
	padding: 3px 10px;
	text-decoration: none;
	border: none;
	margin: 2px 2px;
	cursor: pointer;
	background-color: #F50057;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 25px;
    border: 2px solid #C51162;
}


#makeBorder2{
	width: 500px;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 270px;
	left: 65px;
}

#makeBorder2 tr, td{
	text-align: left;
}


.chooseamovie{
	margin: 0;
	padding: 0;
	position: absolute;
	left: 75px;
	top: 240px;
	color: #C2185B;
	font-weight: bold;
	background-color: #FCE4EC;
	width: 250px;
	text-align: center;

}

#makeBorder3{
	width: 500px;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 240px;
	left: 465px;
}

#makeBorder3 >td{
	text-align: left;
	top:20px;
	margin:0;
	position: absolute;
}


.chooseadate{
	margin:0;
	position: relative;
	padding: 0;
	left: 10px;
	top: 0px;
	color: #C2185B;
	font-weight: bold;
	background-color: #FCE4EC;
	width:150px;
	text-align: center;

}

#makeBorder4{
	width: 500px;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 240px;
	left: 765px;
}

#makeBorder4 tr, td{
	text-align: left;
}

.chooseatime{
	margin:0;
	padding: 0;
	position: relative;
	left: 10px;
	top: 0px;
	color: #C2185B;
	font-weight: bold;
	background-color: #FCE4EC;
	width:140px;
	text-align: center;
}



.cancelDetails334{
	position: absolute;
	padding: 0;
	margin: 0;
	top: 300px;
	left: 73px;
	font-weight: bold;
	color: #E91E63;
}

.forhighlight{
	font-weight: bold;
	color: #F06292;
}

.hihandhih{
	background-color: #FCE4EC;
}